<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input clustering method</title>
</head>
<body>
    <form action="/output" method="post" id="container">
        <label>Choose a clustering technique</label>
        <input type="hidden" name="method" id="method" value="">
        <button name="method" value="K-means clustering" type="submit">K-means clustering</button>
        <button name="method" value="Agglomerative clustering" type="submit">Agglomerative clustering</button>
        <!-- <button title="DBScan" type="submit">DBScan clustering</button> -->
    </form>
</body>
</html>