<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input clustering method</title>
</head>
<body>
    <form action="/templates/output.html" method="post" id="container">
        <label for="method">Choose a clustering technique</label>
        <button title="K-means" type="submit">K-means clustering</button>
        <button title="Agglomerative" type="submit">Agglomerative clustering</button>
        <!-- <button title="DBScan" type="submit">DBScan clustering</button> -->
    </form>
</body>
</html>